<p>
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <mat-select
      (selectionChange)="onSelectionChange($event)"
      [formControl]="controlRef"
    >
      <mat-option>{{ defaultOption }}</mat-option>
      <mat-option *ngFor="let region of regionList" [value]="region">
        {{ region.name }}
      </mat-option>
    </mat-select>
    <mat-hint align="start" *ngIf="loading">
      <strong>Loading...</strong>
    </mat-hint>
    <mat-hint align="end" *ngIf="loading">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate"
        diameter="20"
      ></mat-progress-spinner>
    </mat-hint>
  </mat-form-field>
</p>
